html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
        link(href='css/font-awesome.min.css', rel='stylesheet', media='screen')
        link(href='css/sweetalert.css', rel='stylesheet', media='screen')
        link(href='css/dashboard.css', rel='stylesheet', media='screen')

        title="Forklift GUI"

    include layouts/navbar

    body
        div.container-fluid
            if errorMessage != ''
                div.alert.alert-danger(id="slideAlert")
                    a.close(data-dismiss="alert" aria-label="close") &times;
                    | #{errorMessage}
            if successMessage != ''
                div.alert.alert-info(id="slideAlert")
                    a.close(data-dismiss="alert" aria-label="close") &times;
                    | #{successMessage}
            center
                h1.text-uppercase Forklift Stats
                hr
            .row
                if stats.retry == null || stats.replay == null
                    div.alert.alert-danger
                        h1.noListings.text-center COULD NOT CONNECT TO ELASTIC SEARCH
                else
                    .col-lg-6
                        center
                            h1.text-uppercase Retry Queue
                            hr
                            if stats.retry.totalLogs > 0
                                h3.text-uppercase Total Error Logs - #{stats.retry.totalLogs}
                                if stats.retry.queues.length > 0
                                    - for (var i = 0; i < stats.retry.queues.length; i++)
                                        - var queue = stats.retry.queues[i]
                                        - var queueTotal = stats.retry.queueTotals[i]
                                        a.btn.btn-info.btn-lg.btn-block.text-uppercase(href="filtered?service=retries&queue=" + queue) #{queue} - #{queueTotal}
                            else
                                div.alert.alert-success
                                    h1.noListings.text-center NO RETRY LOGS FOUND
                    .col-lg-6
                        center
                            h1.text-uppercase Replay Queue
                            hr
                            if stats.replay.totalLogs > 0
                                h3.text-uppercase Total Error Logs - #{stats.replay.totalLogs}
                                if stats.replay.queues.length > 0
                                    - for (var i = 0; i < stats.replay.queues.length; i++)
                                        - var queue = stats.replay.queues[i]
                                        - var queueTotal = stats.replay.queueTotals[i]
                                        a.queueBtn.btn.btn-info.btn-lg.text-uppercase(href="filtered?service=replays&queue=" + queue) #{queue} - #{queueTotal}
                                        .btn.queueModBtn.retryBtn.btn-primary.btn-lg.text-uppercase(queue=queue data-toggle="tooltip" title="Will retry all logs in queue")
                                            span.glyphicon.glyphicon-retweet
                                        .btn.queueModBtn.fixBtn.btn-danger.btn-lg.text-uppercase(queue=queue data-toggle="tooltip" title="Will mark all logs in queue as fixed")
                                            span.glyphicon.glyphicon-fire
                            else
                                div.alert.alert-success
                                    h1.noListings.text-center NO REPLAY LOGS FOUND




    script(src='js/jquery-1.11.3.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/sweetalert.min.js')
    script(src='js/dashboard.js')
